i[class='fa-solid fa-trophy']{
    color: yellow;
    text-shadow: -1px 1px 2px black, 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black;
    font-size: 1.5rem;
}
i[class='fa-solid fa-handshake']{
    color: white;
    text-shadow: -1px 1px 2px black, 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black;
    font-size: 1.5rem;
}
i[class='fa-solid fa-thumbs-down']{
    color: red;
    text-shadow: -1px 1px 2px black, 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black;
    font-size: 1.5rem;
}
.bar2 div a{
    margin-top: 10px;
}
a{
    color: purple;
    text-decoration: none;
}
.bar2 div{
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
}
@media (min-width: 1200px){
    .nemico{
        width: 250px;
        display: flex;
        justify-content: center;
        height: 250px;
        font-size: 3rem;
        text-align: center;
        border: 1px solid;
        margin-right: 3px;
        transition: .6s ease;
        background-color: #efefef;

    }
    .bar2{
        margin: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 65%;
    }
    .bar1{
        padding-right: 145px;
        margin-right: 45px;
        background-color: rgba(0, 255, 255, 0.336);
        box-shadow: 0px 0px 5px black;
    }
    body{
        display: flex;
        height: 100vh;
        overflow-y: hidden;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        height: 50%;
    }
    .button{
        width: 250px;
        height: 250px;
        font-size: 3rem;
        text-align: center;
        border: 1px solid;
        margin-right: 3px;
        transition: .6s ease;
        background-color: #efefef;
    }
    .button:hover{
        background-color: #b9b9b9;
    }
    div{
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .btn{
        padding: 5px;
        border-radius: 45px;
        font-size: 1.5rem;
        border: 1px solid;
        transition: .4s ease;
        background-color: #efefef;
    }
    .btn:hover{
        background-color: #b9b9b9;
    }
    li{
        list-style: none;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    ul{
        margin-top: 50px;
    }
}
@media (max-width: 1200px){
    .bar2{
        margin: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 65%;
    }
    .bar1{
        padding-right: 145px;
        margin-right: 45px;
        background-color: rgba(0, 255, 255, 0.336);
        box-shadow: 0px 0px 5px black;
        width: 100%;
    }
    body{
        display: flex;
        height: 100vh;
        overflow-y: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        height: 50%;
    }
    .button, .nemico{
        width: 150px;
        height: 150px;
        font-size: 2.5rem;
        text-align: center;
        border: 1px solid;
        margin-right: 3px;
        transition: .6s ease;
        background-color: #efefef;
    }
    .button:hover{
        background-color: #b9b9b9;
    }
    div{
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .btn{
        padding: 5px;
        border-radius: 45px;
        font-size: 1.5rem;
        border: 1px solid;
        transition: .4s ease;
        background-color: #efefef;
    }
    .btn:hover{
        background-color: #b9b9b9;
    }
    li{
        list-style: none;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    ul{
        margin-top: 50px;
    }
}
